 /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #c0c0c0;
    }
    
    /* Add a gray background color and some padding to the footer */
footer {
    background-color: #003300;
    height: 5em;
    line-height: 5em;
    color: #c0c0c0;
    }

footer a {
    color: #c0c0c0;
}

footer li {
    padding-left: 2em;
    font-size: 1em;
}

.jumbotron {
    background-image : url("./images/wayne.jpeg");
    background-position: 50% 25%;
    background-repeat: no-repeat;
}

h1 {
    text-align: left;
    padding-bottom: 1em;
    margin-left: -1em;
    font-family: Cambria, Georgia, serif;
    color: #003300;
}

#flavor{
    text-align: right;
}

h2 {
    text-align: center;
    font-family: Cambria, Georgia, serif;
    margin: 1em;
    color: #003300;
}

.carouselPictures {
    width: 100%;
}

#parchment {
    background-image: url("./images/parchment.jpg");
    text-align: center;

}

.experience {
    border: 2px #003300 solid;
    margin: 1%;
    width: 20%;
    flex: 1;
    padding: 10px;
    text-align: center;
    display: block;
    

}

.ulAbout {
    display: inline-block;
    font-size: 1.5em;
    text-align: left;

}

.flexcontainer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box; 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.seals {
    margin: auto;
}
