 /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    /*height: 4em;
    line-height: 4em;*/
    background-color: #c0c0c0;
    text-align: center;
    }
    
    /* Add a gray background color and some padding to the footer */
footer {
    background-color: #003300;
    height: 4em;
    line-height: 4em;
    color: #c0c0c0;
    }

.jumbotron {
    background-image : url("/Users/wayneburris/Desktop/Projects/ResumeSite/images/wayne.jpeg");
    background-position: 50% 25%;
    background-repeat: no-repeat;
}

h1 {
    text-align: left;
    padding-bottom: 1em;
    margin-left: -1em;
    font-family: Cambria, Georgia, serif;
    color: #003300;
}

#flavor{
    text-align: right;
}

h2 {
    text-align: center;
    font-family: Cambria, Georgia, serif;
    margin: 1em;
    color: #003300;
}

.carouselPictures {
    width: 100%;
}

#parchment {
    background-image: url("/Users/wayneburris/Desktop/Projects/ResumeSite/images/parchment.jpg");
    text-align: center;

}

.experience {
    height: 20em;
    width: 20em;
}

.ulAbout {
    display: inline-block;
    font-size: 1.5em;
    text-align: left;
}

.ulR {
    text-align: right;
}
